.top_links{
  color: #000;
  font-family: Lora;
  text-decoration: none;
  vertical-align: middle;
}
h1 {
  background: linear-gradient(to right, #fff, #000, #fff);
  color: #fff;
  font-family: Lora;
  text-align: center;
  padding: 10px;
}
#home_icon{
  margin-left: 20px;
  float: left;
}
.create_post_btn{
  text-decoration: none;
  margin-right: 20px;
  float: right;
  color:#000;
}
.create_post_btn:hover{
  color:#5C5D5D;
}
p{
  font-family:cursive;
  color: #000;
  font-style: 2em;
  padding: 5px 20px;
}
.home_div{
  background-color: #EDEDF1;
  width:800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog_div, h2
{
  background-color: #fff;
  width: 500px;
  margin: 25px auto;
  border-radius: 15px;
  border: 1px solid #000;
}
.profile_image{
  height: 50px;
  width: auto;
  border-radius: 50%;
  margin: 10px;
  float: left;
}
.user_name{
  font-family: Cambria;
  font-size: 3em;
}
.image_style{
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.links_div{
  background-color: gray;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.links{
  color: #fff;
  font-family: monospace;
  text-decoration: none;
  vertical-align: middle;
  margin: auto 40px;
}
.links:hover{
  color:#BFCDCC;
  text-decoration: none;
}
.new_post{
  margin: 10px 50px;
  border: 2px solid #E1E2E2;
  text-align: left;
}
.post_btn{
  margin: 10px 50px;
  padding: 0px 20px;
  border-radius: 5px;
  background: #2D3237;
  color: #fff;
}
.post_btn:hover, .create_btn:hover, .back_btn:hover{
  background: gray;
}
.create_btn, .back_btn{
  margin: 10px 0px;
  padding: 0px 20px;
  border-radius: 5px;
  background: #2D3237;
  color: #fff;
}
.favourite_icon
{
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  margin: auto 20px;
}
.eraser_icon
{
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  margin: auto 190px;
}
